.cardCont{
    width: 600px;
    height: 220px;
    background:var(--card-background);
    display: grid;
    grid-template-columns: 230px 370px;
    grid-template-rows: 220px;
    grid-template-areas: "image info";
    border-radius: 0.5rem;
    overflow: hidden;
    .imageCont{
        grid-area: image;
    }
    .infoCont{
        grid-area: info;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: space-around;
        padding: 10px;
        color: var(--p-color);
        .group{
            .name{
                font-size: 1.5rem;
                cursor: pointer;
                &:hover{
                    color: var(--border-orange);
                }
            }
            .status{
                .point{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
                font-size: 16px;
            }
            .subt{
                color: var(--subt-color);
            }
        }
    }
}