.itemsCont{
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--nav-items-color);
    .item{
        padding: 10px 20px;
        color: var(--nav-items-color);
        font-weight: bold;
    }
    .logOut{
        padding: 10px 20px;
        border: 1px groove var(--border-orange);
        border-radius: 10px;
    }
}
