:root{
    --dark-background:#272b33;
    --light-background:white;
    --green:#55cc44;
    --orange:#D63D2E;
    --t-sec-color:#202329;
    --p-color:#F5F5F5;
    --subt-color:#9E9E9E;
    --nav-items-color:#333333
}