:root{
    --dark-background:#272b33;
    --light-background:white;
    --green:#55cc44;
    --orange:#D63D2E;
    --border-orange:rgb(255, 152, 0);
    --t-sec-color:#202329;
    --p-color:#F5F5F5;
    --subt-color:#9E9E9E;
    --nav-items-color:#333333;
    --card-background:rgb(60, 62, 68)
}