.layout{
    display: grid;
    grid-template-columns: var(--width);
    grid-template-rows: var(--nav-height) minmax(var(--min-height), auto) var(--footer-height);
    grid-template-areas: "header"
                         "content"
                         "footer";
    
}
